body {
  margin: 0;
  padding: 0;
  font-family: 'Economica', sans-serif;
  background: url('images/background.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5px;
}

.nav-left {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 20px;
  font-weight: 600;
  margin-left: 10px;
}

.nav-right a {
  color: white;
  text-decoration: none;
  margin: 0 8px;
  font-family: 'Economica', sans-serif;
  font-size: 20px;
}

.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 80px 60px;
  min-height: 90vh;
  text-align: center;
  flex-wrap: nowrap;
  align-content: center;
}

.profile-wrapper {
  position: relative;
  width: 350px;
  height: 350px;
  margin-right: 150px;
}

.circle {
  width: 121.51%;
  height: 121%;
  background-color: #fcd946;
  border-radius: 52%;
  position: absolute;
  top: -59px;
  left: -43px;
  z-index: 1;
}

.profile-pic {
  width: 123%;
  height: 147%;
  object-fit: fill;
  border-radius: 43%;
  position: absolute;
  top: -150px;
  left: -45px;
  z-index: 2;
}

.intro-text {
  text-align: center;
  z-index: 3;
}

.hello {
  font-family: 'Brice BoldCondensed', sans-serif;
  font-size: 44px;
  letter-spacing: 3px;
  margin: -23px 0;
}

.name {
  font-family: 'Brightwall', cursive;
  font-size: 92px;
  margin: -18px 0;
  letter-spacing: 31px;
  margin-bottom: -55px;
}

.pronounce {
  font-family: 'Economica', sans-serif;
  font-size: 30px;
  font-style: normal;
  margin: -13px 0 25px;
  display: inline-block;
  margin-bottom: -26px;
  letter-spacing: 7px;
}

.animated-title {
  font-family: 'Space Mono', monospace;
  font-size: 62px;
  letter-spacing: 1px;
  -webkit-text-stroke: 2px white;
  color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  width: min-content;
  margin: 30px auto;
  position: relative;
  padding-left: 55px;
}

.about {
  padding: 80px 60px;
  background: url('images/background.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;
}

.section-title {
  font-family: 'Space Mono', monospace;
  font-size: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
  -webkit-text-stroke: 2px white;
  color: transparent;
  margin-bottom: 30px;
  margin-top: 40px;
  text-align: left;
  margin-left: 60px;
}

.about-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 60px 40px;
  gap: 60px;
}

.about-left {
  flex: 2;
  font-family: 'Economica', sans-serif;
  font-size: 22px;
  text-align: justify;
  line-height: 1.7;
}

.about-right {
  flex: 1;
  font-size: 20px;
  font-family: 'Economica', sans-serif;
  line-height: 2;
  text-align: left;
}

.skills-icons {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  padding-left: 60px;
  margin-bottom: 20px;
}

.skill-ring {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: conic-gradient(gold calc(var(--percent) * 1%), rgba(255,255,255,0.15) 0%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-shadow: 0 0 12px rgba(255, 215, 0, 0.6);
}

.skill-ring img {
  width: 68%;
  height: 68%;
  object-fit: contain;
  border-radius: 50%;
  background: white;
  padding: 10px;
}

.other-skills {
  font-family: 'Economica', sans-serif;
  font-size: 17px;
  letter-spacing: 1px;
  text-align: center;
  margin: 30px 60px;
}
